# ignore the following folders
/node_modules
/public/mp3cache/**
/public/imagecache/**
/public/randomthemes/**
/config/*.json
/dist

# any excluded dir with a .keep file. Will stay in github, but all other files will not :)
!.keep