<!doctype html>
<html lang="en">
<!--
***********************************************************
* Posterr - Your home media display                        *
* Developed by Matt Petersen - Brisbane, Australia        *
***********************************************************
-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Additional js libs -->
  <script src="/js/jquery-3.3.1.slim.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!--- CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <script src="/js/script.js"></script> -->

  <title>Poster</title>
  <link rel="shortcut icon" type="image/png" href="/favicons/favicon.ico"/>
</head>

<body>
