<!doctype html>
<html lang="en">
<!--
***********************************************************
* Posterr - Your home media display                        *
* Developed by Matt Petersen - Brisbane, Australia        *
***********************************************************
-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Additional js libs -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!--- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/logon-styles.css">
    <link rel="stylesheet" href="/css/light.min.css">

    <!-- <script src="/js/script.js"></script> -->

    <title>Poster - Settings</title>
</head>

<body>


    <div class="container d-flex align-items-center justify-content-center no-content">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">Poster Settings</h1>
                    <p class="lead">Media display software for Plex, Sonarr and Radarr.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                <form method="POST" action="/logon">
                    <div class="form-group">
                        <label for="password">Enter the password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            aria-describedby="password" placeholder="Enter a password" value="">
                        </div>
                    <button type="submit" class="btn btn-info" style="float: middle;">GO</button>
                    <button type="reset" class="btn btn-info" onclick="location.href = '/';">Return</button>
                    <small id="passwordHelp" class="form-text text-muted">If you have forgetten the password, please
                        review the config file</small>
                </form>
            </div>
            <div class="col-1"></div>
            </div>
        </div>
    </div>
    <hr>
    <!-- show validation errors -->
    <% 
    if(typeof errors !== 'undefined'){
      // display validation errors
      errors.forEach(function(e) { %>
        <p class="alert alert-warning"><%=e.msg %></p>
      <%});%>
    <%}%>
</body>

</html>