/* hide mouse cursor */


body {
  background-color: black;
  /* color: #daa520; */
  text-align: center;
}

h1 {
  white-space: nowrap;
}

.hidden {
  visibility: hidden;
}

#warning {
  background-color: red;
}

.tagLine {
  color: rgb(255, 255, 255);
  /* font-size: 14px; */
  font-style: italic;
  /* margin-bottom: 10px; */
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}

iframe {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.badge-pill {
  margin-left: 2px;
}


.banners,
.bottomBanner {
  height: 8%;
  /* padding: 2px; */
}

#myDiv {
  opacity: 1;
  min-height: 100%;
  width:100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
}
.badge-pill {
  margin-left: 2px;
}

.posterArt {
  z-index: 0;
  position: fixed;
  position:fixed;
  width:100%;
  height:100%;
  size: 100% 100%;
  background-position: center middle;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .5;
  filter: blur(5px);
}

.poster {
  max-width: 100%;
  vertical-align: top;
  color: white;
  vertical-align: top;
  top: 8%;
  position: fixed;
  height: 84%;
  max-height: 84%;
  min-height: 545px;
  width: 100%;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1000;
}

.banners {
  position: fixed;
  width: 100%;
  top: 0;
  max-height: 8%;
  z-index: 1000;
}

/* If the screen size is 871px high or more */
@media screen and (min-height: 871px) {
  .banners {
    padding-top: 0px;
  }

  .progress {
    height: 10px;
  }

  .bannerBigText {
    font-size: 49px;
  }

  .bottomBanner {
    font-size: 18px;
    padding-bottom: 0px;
  }
}

/* If the screen size is 870px high or less */
@media screen and (max-height: 870px) {
  .banners {
    padding-top: 5px;
  }

  .progress {
    height: 5px;
  }

  .bannerBigText {
    font-size: 30px;
  }

  .bottomBanner {
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.bannerBigText {
  color: lightgoldenrodyellow;
  vertical-align: middle;
}

.bannerSmallText {
  font-size: 10px;
  margin-left: 5px;
  color: lightgoldenrodyellow;
}

.spacer {
  width: 100%;
  /* height: 45px; */
}

.bottomBanner {
  color: lightgoldenrodyellow;
  background-color: inherit !important;
  bottom: 0;
  position: fixed;
  height: 8%;
  max-height: 8%;
  width: 100%;
  cursor: none;
  z-index: 1000;
}

.vidBanner {
  margin-top: 15px;
  width: 75%;
  color: lightgoldenrodyellow;
}

.star-rating {
  line-height: 32px;
  font-size: 1.25em;
}

.star-rating .fa-star {
  color: whitesmoke;
}

.checked {
  color: orange;
}

.transparent {
  background: #7f7f7f;
  background: #18180d;
}

.arrayImages {
  width: 100px;
}

.progress {
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  width: 0px;
  background-color: darkslategrey;
}

.screening {
  color: #daa520;
  font-weight: 200;
}

.demand {
  color: maroon;
  font-weight: 600;
}

.no-content {
  height: 80vh;
  color: #6c757d;
}

.alert-link:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}

a.alert-link {
  height: 80vh;
  color: #6c757d;
  opacity: .5;
}
