<div class="container d-flex align-items-center justify-content-center no-content">
    <div class="d-flex">
            No content to display
    </div>
</div>

<script lang="javascript">
  // reload every 5 seconds to check for content
  // const interval = setInterval(function () {
  //   window.location.reload();
  // }, 5000);
</script>
