<div class="container d-flex align-items-center justify-content-center no-content">
    <div class="d-flex">
      <div class="settingsLink"><a href="/settings" class="alert-link">No content to display yet</a></div>
    </div>
</div>

<script lang="javascript">
  //reload every 10 seconds to check for content
  const interval = setInterval(function () {
    window.location.reload();
  }, 10000);
</script>
