<% if (!hasConfig) { %>

    <div class="alert alert-warning" role="alert">
        Missing necessary settings. Click <a href="<%=baseUrl%>/settings" class="alert-link">here</a> to setup.
    </div>

<% } 
let noLinks='false';
if(globals.hideSettingsLinks !== undefined && globals.hideSettingsLinks == 'true'){ 
    noLinks = globals.hideSettingsLinks;
}
if(globals===undefined || globals==null || globals==="" || globals.cards.length===0){%>
    <%- include('no-content.ejs', {noLinks}) %>
<%}
else
{%>
    <%- include('posters.ejs') %>
<%}%>
