<div class="container d-flex align-items-center justify-content-center no-content">
    <div class="d-flex">
      <% if(noLinks=='true'){%>
        <div class="settingsLink">No content to display or awaiting content load</div>
      <%}
      else{%>
        <div class="settingsLink"><a href="<%=baseUrl%>/settings" class="alert-link">No content to display or awaiting content load</br>Click this text for settings page</a></div>
      <%}%>
    </div>
</div>

<script lang="javascript">
  //reload every 10 seconds to check for content
  const interval = setInterval(function () {
    window.location.reload();
  }, 10000);
</script>
