[Unit]
Description=Launch Poster sleepwatch.sh script
After=network.target

[Service]
Type=simple
#ExecStartPre=/usr/bin/sleep 10
ExecStart=WORKING_DIRECTORY/sleepwatch.sh
User=USER
WorkingDirectory=WORKING_DIRECTORY
Restart=on-failure

[Install]
WantedBy=graphical.target
